body {
    background-color: #aaaaaa;
    border: 1px solid red;
}

/*
#wrapper {
    width: 100%;
    min-width: 300px;
    height: 640px;
    margin: auto;
}
*/
.seeThru {
    background-color: #aaaaaa00;
    color: black;
}

#display {
    position: absolute;
    width: 100vw; /*min(96vw, 96vh);*/
    height: 100vw; /*(96vw, 96vh);*/
    top: 0%;
    left: 0%;
    z-index: -1;
}

#new-posit-button {
    position: absolute;
    width: 95%;
    height: 95%;
}
